body {
    background-color: black; 
}


.logo{
    color: rgb(255, 0, 0);
    font-size: xx-large;
    margin: 600px;
    animation: logoanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    width: 40rem;
}

.Active {
    margin: 25px;
}

nav a {
    color: red;
    text-decoration: none;
    font-size: x-large;
    border: 2px solid red;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    display: inline-block;
    margin: 2rem;
  
} 

 nav a:hover {
    background-color: red; 
    color: black;
    transform: scale(1.1);
  }

  @keyframes logoanimation{
    from{
        color: red;
    }
    to {
        color: blue;
    }
  }

 .information {
    width: 300px; 
    height: 100px; 
    text-align: center;
    color: red;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
 }

 .contact{
    margin: 100px;
    color: red;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
 }

.social{
    margin: 60px;
    font-size: 30px;
}
