body {
    background-color: black; 
}


.logo{
    color: rgb(255, 0, 0);
    font-size: xx-large;
    margin: 600px;
}

h1 {
    color: red;
}

@keyframes mymove {
    from {background-color: greenyellow;}
    to {background-color: blue;}
  }

.main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 400px;
    width: 40rem;
  }

.Active {
    margin: 25px;
}

nav a {
    margin: 100px;
    color: red;
    text-decoration: none;
    font-size: x-large;
    border: 2px solid red;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
